.brand {
	display: block;

    margin: 1rem 0 0;
    @include breakpoint(medium) {
        //margin-top:.75rem;
    }
}
.brand__fulllogo {
    display: block;
    width: 13em;
    max-width: 100%;
    //transform: translateY(5%);

    @include breakpoint(medium) {
        width:17em;
        max-width: 17em;
        margin-bottom:-.333em;
	}

}
