.brand {
	@include clearfix();
	@include breakpoint(xlarge) {
		//font-size: .875rem;
		//margin: 1em 0 .875em;
	}

	font-size: 1rem;

	display: block;

	margin: .5em 0 0;
}
.brand__logo {
	@include breakpoint(medium) {
		display: none;
	}

    display: none;

	width: 3.25em;

    
}
.brand__fulllogo {
    display: block;
    max-width: 22em;
    width:90%;
    //margin-bottom:.333em;

}
