.brand {
	display: block;

    margin: .5rem 0 0;
    @include breakpoint(medium) {
        margin-top:.666rem;
    }
}
.brand__fulllogo {
    display: block;
    width: 18em;
    max-width: 100%;
    //margin-bottom:.333em;
    @include breakpoint(medium) {
        width:22em;
		max-width: 22em;
	}

}
