.iconizedlist {
    margin:1rem 0 2rem;
    padding:0;
    list-style: none;
    font-size: 1.125rem;
    font-weight: $global-weight-bold;
    line-height: 1.2;
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-column-gap: 5%;
    grid-row-gap: 1.25rem;
    align-items: center;

    > li {
        position: relative;
        display: flex;
        align-items: center;
        //padding-left:3.5rem;

        //min-height: 2.5rem;

        .icon {
            content: '';
            display: block;
            border:.25em solid $xlight-gray;
            background-color: $xlight-gray;
            box-shadow: 0 0 0 1px $light-gray;
            //border-radius: 3px;
            min-width:3.5rem;
            width:3.5rem;
            height:3.5rem;
            margin-right:.75rem;
            //fill:red !important;
        }

    }
}
