.menu {
    text-transform: uppercase;
    //font-weight: $global-weight-light;
    //font-variant: small-caps;
    text-transform: uppercase;
}

.menu a {
    color: inherit;
    // span {
    //     font-weight: $global-weight-bold;
    //     font-size: 0.875em;
    //     //color:$dark-gray;
    //     &:before {
    //         content: " (";
    //     }
    //     &:after {
    //         content: ")";
    //     }
    // }
}

.menu.menu--topbar {
    text-transform: none;
    li {
        &:not(:last-child()):after {
            content: "|";
        }
        &.wpml-ls-menu-item {
            text-transform: uppercase;
        }
    }

    a {
        padding: 0.333em 0.333em;
        //font-size:inherit;
    }
}

.menu.vertical {
    font-size: 0.875rem;
    a {
        position: relative;
        padding: 0.5em 0;
        &:before {
            position: absolute;
            //content:'';
            display: block;
            width: 0.5em;
            height: 0.5em;
            background-color: currentColor;
            left: -0.875em;
            top: 0.75em;
        }
    }

    .active > a,
    .is-active > a {
        &:before {
            content: "";
        }
    }
}

.menu.menu--main {
    position: static;
    font-size: 1.125em;
    > li {
        display: inline-block;
        position: relative;
        &:first-child() {
            > a {
                padding-left: 0;
            }
        }
        &:last-child() {
            > a {
                padding-right: 0;
            }
        }
        &:hover {
            ul {
                display: block;
            }
        }
        > a {
            padding: 0.75em 0.5em 1em;
            white-space: nowrap;
            &:hover,
            &:focus {
                //text-decoration: underline;
                text-shadow: 0 0 0.125em rgba(#000, 0.5);
                color: #000;
                & + ul {
                    display: block;
                }
            }
        }
    }

    .active > a,
    .is-active > a {
        color: inherit;
        font-weight: $global-weight-bold;
    }
}

.menu.menu--main .sub-menu {
    font-size: 0.875em;
    display: none;
    margin: 0;
    padding: .5rem 0;
    // @media screen and (min-width: 110em) {
    //     padding: .5rem calc(50vw - #{$global-width/2}) 0;
    // }

    position: absolute;
    left: 0;
    top: 85%;
    z-index: 1;
    min-width: 12rem;
    border: 1px solid $light-gray;
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem -0.125rem rgba(#000, 0.5);

    // &:before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     top: -50%;
    //     width: 100%;
    //     height: 250%;
    //     z-index: -1;
    // }
    &:after {
      content: '';
      width:.8rem;
      height:.8rem;
      background-color: inherit;
      display: block;
      position: absolute;
      top:-.4rem;
      left:.8rem;
      border-left:1px solid $light-gray;
      border-top:1px solid $light-gray;
      transform: rotate(45deg);
    }

    > li {
        display: block;
        margin: 0;
        padding: 0;
        > a {
            text-transform: none;
            display: block;
            color: inherit;
            font-weight: $global-weight-bold;
            padding: 0.5em 0.75em;
            &:hover,
            &:focus {
                background-color: $light-gray;
            }
        }
    }
    // .active > a, .is-active>a {
    //     background-color: $light-gray;
    // }
}

.menu.menu--mobilemain {
    font-size: 1.25rem;
    li {
    }
    li > a {
        padding: 0.75em 1.875em;
        display: inline-block;
        &:hover,
        &:focus {
            text-shadow: 0 0 0.125em rgba(#000, 0.5);
            color: #000;
        }
    }
    ul {
        list-style: none;
        text-transform: none;
        font-size: 1rem;
        font-weight: $global-weight-bold;
        margin: 0 0 1.5rem 0;
        padding: 0;
        li > a {
        }
    }

    .active > a,
    .is-active > a {
        color: inherit;
        font-weight: $global-weight-bold;
    }
}

.menu--mobilesecondary {
    font-weight: $global-weight-bold;
    //text-transform: none;
    > li {
        &:not(:last-child()):after {
            content: "•";
            margin: 0 0.25em;
            display: inline-block;
            //transform: translateY(-.1125em);
            line-height: 1;
        }
    }

    a {
        font-size: 0.75rem;
        padding: 0.25em 0;
        //margin:.125em 0;
        //display: inline-block;

        //color:$dark-gray;
        &:hover,
        &:focus {
            //color:$warning-color;
        }
    }

    .active > a,
    .is-active > a {
        color: #000;
        text-shadow: 0 0 0.25em rgba(#000, 0.333);
        // background-color: transparent;
    }
}

.menu.menu--designlist {
    font-size: 0.875rem;
    text-transform: capitalize;
    //font-weight: $global-weight-bold;

    > li {
        display: inline-block;
        &:not(:last-child()):after {
            content: " • ";
            display: inline-block;
            width: 0.5em;
            text-align: center;
        }
    }
    a {
        padding: 0;
        display: inline-block;
        span {
            font-weight: $global-weight-bold;
            font-size: 0.75rem;
            //color:$dark-gray;
            &:before {
                content: " (";
            }
            &:after {
                content: ")";
            }
        }
    }
}

.localnav {
    margin-top: 2rem;
}

.localnav__top {
    background-color: $body-background;
    padding: 0.333rem 0;
    &.is-stuck {
        border-bottom: $xlight-gray;
        box-shadow: 0 0 1rem 0 rgba(#000, 0.25);
    }
}

.menu.menu--local {
    font-size: 0.75rem;
    @include breakpoint("tablet") {
        font-size: 1rem;
    }
    a {
        padding-left: calc(0.75em + 0.25vw);
        padding-right: calc(0.75em + 0.25vw);
    }

    .active > a,
    .is-active > a {
        color: #000;
        text-shadow: 0 0 0.25em rgba(#000, 0.333);
        // background-color: transparent;
    }
}

.menu--footersocial {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;

    > li {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 0.2em;
        }
    }
    > li > a {
        line-height: 1;
        display: inline-block;
        padding: 0;
        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}
