.squarepromo {
    position: relative;
    //border:1px solid $light-gray;
    //border:1px solid $light-gray;
    //background-color: $xlight-gray;
    //color:$white;
    //padding:5%;
    @include clearfix();
    //display: flex;
    //border:5px solid #fff;
    //box-shadow: 0 0 2px 0 rgba(#000,.2);
}


.squarepromo__thumb {
    margin:0 0 0 0;


    //max-width: 33.333%;
    //border-right: 5px solid #fff;

    //background-color: #000;

    img {
        border:5px solid #fff;
        box-shadow: 0 0 2px 0 rgba(#000,.2);

        //height:100%;

    }
    //display: none;

}

.squarepromo img {
    display: block;
}
.squarepromo__content {
    padding:2.5% 0 0;

}
.squarepromo__caption {
    padding-top:2.5%;
    font-size: 1.5rem;
    opacity: .85;
    font-weight: $global-weight-normal;
    text-transform: uppercase;
    margin:0;
    &:after {
        content: '';
        display: block;
        width:2em;
        height:1px;
        border-top:1px solid currentColor;
        margin:.333em 0;
    }

}
.squarepromo__subcaption {
    padding-bottom:2.5%;
    //font-size:1.125rem;

}
