.tmplcard {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background-color: $light-gray;
    margin-bottom: 1.25rem;
}

.tmplcard__name {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin: 0;
    padding: 0.75em 0 0;
    text-align: center;
    color: $body-font-color;
    font-size: 1rem;
    line-height: 1;
}
.tmplcard__fulllink {
    &:hover,
    &:focus,
    &.swiped {
        .tmplcard__thumb.variant {
            opacity: 1;
        }
    }
}
.tmplcard__thumb {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: all 0.2s ease-in;

    &.variant {
        opacity: 0;
    }
}
.tmplcard__tmpl {
    position: absolute;
    display: block;
    width: 18%;
    min-width: 3.5rem;
    right: -3px;
    bottom: -3px;
    background-color: $body-font-color;
    padding: 3px;
    border: 3px solid $body-background;
}

.tmplcardgrid {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem-calc(rem-calc(20));

    @include breakpoint(tablet) {
        grid-gap: rem-calc(rem-calc(60));
    }

    @include breakpoint(large) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: rem-calc(rem-calc(30));
    }
    // @include breakpoint(xlarge) {
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-gap: rem-calc(rem-calc(30));
    // }

    @include breakpoint(xxlarge) {
        // grid-template-columns: 1fr 1fr 1fr;
        grid-gap: rem-calc(rem-calc(60));
    }

    > li {
        display: block;
        margin: 0;
        padding: 0;
    }
}


.touchhint {
    text-align: center;
    font-size: .666rem;
    padding:.5em;
    font-weight: $global-weight-bold;
    line-height: 1;
    margin:0 auto;
    border: 1px solid currentColor;
    width: min-content;
    svg.icon {
        width:3em;
        height:3.5em;
    }
    span {
        display: inline-block;
        white-space: nowrap;
    }

    display: none;

    [data-whatinput=touch] & {
        display: block;
    }

}
