.yith-wcwl-add-button {
    .button {
        background-repeat: no-repeat;
        background-size: 66%;
        background-position: center 50%;
        margin:0;
        display: block;
        width: 2.5666rem;
        height:0;
        padding:0 0 100% 0;
        border:none;
        background-color: $light-gray;
        color: $body-font-color;
        background-image: svg-load('heart-outline.svg', fill=#{$body-font-color});

        &:hover, &:focus {
            background-color: $medium-gray;
            background-image: svg-load('heart-add-outline.svg', fill=#{$body-font-color});
        }

        &.has-tip {
            border-bottom: none;
            display: block;
            cursor:pointer;
        }

        .singleproduct__callout__actions & {
            width:3.25rem;

        }

        span {
            display: none;
        }

    }

    .scprhead__content & {

        .button {
            width:100%;
            height: auto;
            padding: .75em 1em;
            background-size: auto 50%;
            background-position: calc(50% + 7.25em) center;
        }

        span {
            display: block;
        }
    }


    .button.is-on {
        // background-color: $dark-gray;
        // color: $body-background;
        background-image: svg-load('heart.svg', fill=#{$primary-color});
        &:hover, &:focus {
            background-image: svg-load('heart-remove.svg', fill=#{$body-font-color})
        }
    }


}


.prodcard .yith-wcwl-add-button  {
    position: absolute;
    top: .5rem;
    right: .5rem;
    // box-shadow: 0 0 5px 0 rgba(#000,.25);

    .button {
        display: block;
        width:1.75rem;
        background-size: 75%;
        background-color: transparent;
        background-image: svg-load('heart.svg', fill=#{$white});
        filter: drop-shadow(0 0 .125rem rgba(#000,.875));

        &:hover, &:focus {
            background-color: transparent;
            background-image: svg-load('heart.svg', fill=#{$primary-color});
        }
    }

    .button.is-on {
        // background-color: $primary-color;
        filter: drop-shadow(0 0 .125rem rgba(#fff,.875));
        background-image: svg-load('heart.svg', fill=#{$primary-color});
        &:hover, &:focus {
            background-image: svg-load('heart.svg', fill=#{$white})
        }
    }
}

.menu-wishlist {
    a {
    // background-color: lightblue;
    padding-left: 1.5em !important;
    background-repeat: no-repeat;
    background-size: auto 56%;
    background-position: .333em 40%;
    background-image: svg-load('heart-outline.svg', fill=#{$black});

        span {
            color: $primary-color;
            &:before {
                content: ' (';
            }
            &:after {
                content: ')';
            }
        }
    }
}
