.widget {
    &:not(last-child) {
        margin-bottom: 2rem;
    }

    .accordion {
        margin: 0;
    }
}
.widget__title {
    font-size: 1.25rem;
    font-weight: $global-weight-bold;
}

.sidebar--wcfilters {
    .widget {
        border: 1px solid $light-gray;
        padding: 0 0.5rem;
        background-color: $xlight-gray;

        &:not(last-child) {
            margin-bottom: 1rem;
        }
        // &.widget_status_filter {
        //     background-color: $light-gray;
        // }
    }

    .widget__title {
        font-size: 1rem;
        line-height: 1;
        font-weight: $global-weight-bold;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}
