.woocommerce-widget-layered-nav-list, .widget_layered_nav_filters ul {
    @include menu-base;
    @include menu-direction(vertical);
    flex-wrap: wrap;

    li {
        position: relative;
        &.chosen {

        }
        
    }

    li.chosen {
        a {
            &:before {
                content: '';
                //background-color:currentColor;
                background-image: svg-load('checkboxchecked.svg');
            }

            &:hover, &:focus {
                &:before {
                    //content: '×';
                    //background-color: transparent;
                    //background-image: svg-load('checkboxunchecked.svg');
                    //opacity:.5;
                }
            }


        }
    }

    a {
        position: relative;
        display: inline-block;
       
        padding: .5em 0;
        color:inherit;
        //font-variant: small-caps;
        //text-transform: uppercase;
        font-weight: $global-weight-bold;
        font-size:.875rem;
        //color:$dark-gray;
        &:before {
            content: '';
            display: inline-block;
            width: .875em;
            height: .875em;
            margin-right:.5em;
            background-image: svg-load('checkboxunchecked.svg');
            //opacity:.5;
            transform: translateY(.125em);
        }
        &:hover, &:focus {
            &:before {
                //content: '';
                //background-color: transparent;
                //opacity:1;
                transform: translateY(.125em) scale(1.25);
            }
        }
    }

    span.count {
        font-weight: $global-weight-bold;
        //color:$medium-gray;
        font-size: .875rem;
    }
}


.product-categories {
    @include menu-base;
    @include menu-direction(vertical);
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: $global-weight-bold;

    a {
        padding: .5em 0;
        color:inherit;
        &:hover, &:focus {
            text-decoration: underline;
        }


    }
}