.woocommerce-products-header {
}

.woocommerce-products-header__thumb {
    max-width: 5.125rem;
    @include breakpoint("tablet") {
        max-width: 5.875rem;
    }

    img {
        padding: 0.25rem;
        border: 1px solid $dark-gray;
    }
}

.woocommerce-products-header__title {
    font-size: 2rem;
    margin: 0 0 0.333em;
    line-height: 1;
    @include breakpoint("medium") {
        font-size: 2.5rem;
    }
    select + & {
        //margin-top:-.2em;
    }

    small {
        display: block;
        font-size: 33.333%;
        //font-weight: $global-weight-normal;
        color: inherit;
        text-transform: uppercase;
        line-height: 1;

        &:hover {
            //color: $secondary-color;
        }
    }
}

.woocommerce-products-header__count {
    font-size: 0.875rem;
    margin: 0;
    line-height: 1;
    @include breakpoint("medium") {
        font-size: 1rem;
    }
}
.js-taxchooserstart {
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    color: inherit;
    pointer-events: none;
}
select.taxchooser {
    position: absolute;
    //visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 14em;
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: $global-weight-bold;
    padding: 0;
    // text-transform: uppercase;
    font-size: 0.875rem;
    height: auto;
    line-height: 1;
    margin: 0 0;
    background-image: none;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        //        color: $secondary-color;
        cursor: context-menu;
    }
    // option {
    //     text-transform: lowercase;
    // }
}

.filters__title {
    font-size: 1rem;
    display: inline-block;
}

.woocommerce-products-header__filters {
    margin: 0 0;

    h3 {
        font-size: 0.875rem;
        display: block;
        font-weight: $global-weight-normal;
        margin: 0.5em 0 0;
        padding: 0 0 0;
        //float:left;
        line-height: 1;
        &:after {
            content: ": ";
        }
    }

    &.widget_layered_nav_filters ul,
    &.widget_status_filter ul {
        flex-direction: row;
        li {
            &:not(:last-child()) {
                margin-right: 0.75em;
            }
        }
        a {
            //margin-left:.875em;
            padding: 0.25em 0;
            &:before {
                top: 0.4em;
            }
        }
    }
}
.brblock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    // padding: 0.875rem 0 0.25rem;
}
.pratopstatus {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // flex-direction: row-reverse;
    padding: 0.875rem 0 0.25rem;

    .button {
        margin: 0;
        &:first-child() {
            justify-self: right;
        }
    }
}

.pratopstatus__title {
    position: absolute;
    font-size: 0.75rem;
    line-height: 1;
    top: 0.666rem;
    font-weight: $global-weight-normal;
    //text-transform: uppercase;
}

.pratopstatus__filters {
    @extend .woocommerce-products-header__filters;
    margin-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    h3 {
        //float:none;
        margin: 0;
    }
    li {
        display: none;
        &.chosen {
            display: list-item;
        }
    }
}
