// .lead{
//     font-weight: $global-weight-bold;
// }

.switchlabel {
    float:left;
    margin:0 .5rem 0 0;;
    line-height: $switch-height;
    white-space: nowrap;
    //font-weight: $global-weight-bold;
    font-size: .875rem;
}
.switch--browsemode {
    &.switch {
        margin:0;
        .switchlabel + & {
            float:right;
        }
    }
    &.switch.small {
        height:1.5rem;
        .switch-paddle {
            font-size: .875rem;
            height:1.5rem;
            width: 7.125rem;
            &:after {
                width: .9375rem;
                height: .9375rem;
            }
        }
        input:checked~.switch-paddle {
            // background-color: $dark-gray;
            &:after {
                left: 5.875rem;
            }
        }
        input:disabled~.switch-paddle {
            opacity: 1;
        }


    }
    .switch-paddle {
        width:10rem;
        white-space: nowrap;
    }

    .switch-active {
        left: 6%;
    }
    .switch-inactive {
        right: 6%;
    }

    .switch-paddle:after {
        left: .2875rem
    }
    input:checked~.switch-paddle:after {
    left: 10.875rem
    }
}


.pagination {
    li {
        // font-weight: $global-weight-bold;
    }

    a, button {

        background-color: $light-gray;
        // border-radius: .5em;
    }
}
