@charset 'utf-8';
@import 'settings';

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@import "../../bower_components/motion-ui/src/motion-ui.scss";
// endbower

@include foundation-everything(true, false);
@include motion-ui-transitions;
@include motion-ui-animations;

@import "extends";
@import "components/components";
@import "layouts/layouts";


span.onsale {
    display: inline-block;
    background-color: $secondary-color;
    line-height: 1;
    font-weight: $global-weight-black;
    padding:.25em .333em .25em;
    color:$white;
    font-size:.875rem;
    border-radius: 3px;
    white-space: nowrap;
    cursor: default;
}