@charset 'utf-8';

@use "sass:list";
@use "sass:math";

@import "common/variables";
@import "settings";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@import "../../bower_components/motion-ui/src/motion-ui.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@include foundation-everything(true, false);
@include motion-ui-transitions;
@include motion-ui-animations;


@import "extends";
@import "components/components";
@import "layouts/layouts";

.inputgrid {
    list-style: none;
    margin: 0 -0.25rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
        display: inline-block;
        margin: 0.25rem 0.25rem;
        padding: 0;
        flex-basis: 12rem;
        flex-grow: 1;
    }
}
.checkergrid {
    list-style: none;
    margin: 0 -0.25rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
        display: inline-block;
        margin: 0.25rem 0.25rem;
        padding: 0;
        flex-basis: 12rem;
        flex-grow: 1;
    }
}

.accordion-title {
    // font-family: $fontsans;
    font-weight: $global-weight-bold;
    &:hover,
    &:focus {
        // color: $cl-primary-dark;
    }

    &:before {
        top: 0;
        right: 0;
        margin-top: 0.666rem;
    }
    // .accordion-item:not(:last-child) & {
    //     border-bottom: 1px solid $light-gray;
    // }
}

.accordion-item {
    &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
    }
    &.is-active {
        border-color: transparent;
    }
}

span.onsale {
    display: inline-block;
    background-color: $secondary-color;
    line-height: 1;
    font-weight: $global-weight-black;
    padding: 0.25em 0.333em 0.25em;
    color: $white;
    font-size: 0.875rem;
    border-radius: 3px;
    white-space: nowrap;
    cursor: default;
}

hr {
    margin: 1rem auto;
    max-width: rem-calc($layout-content);
    height: 0;
    border: none;
    border-top: 1px solid rgba($cl-black, 0.05);
    border-bottom: 1px solid rgba(#fff, 0.05);

    &.fulldivider {
        max-width: none;
        margin: 0 auto;
        border-top: 1px solid rgba($cl-black, 0.05);
        border-bottom: 1px solid rgba(#fff, 0.05);
    }
}
