@charset 'utf-8';
@import 'settings';

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@import "../../bower_components/motion-ui/src/motion-ui.scss";
// endbower

@include foundation-everything(true, false);
@include motion-ui-transitions;
@include motion-ui-animations;

@import "components/menu";
