
.banner__toprow {
   background-color: $xlight-gray; 
   font-weight: $global-weight-bold;
   border-bottom:1px solid rgba($light-gray,.25);
   border-top:1px solid rgba($light-gray,.25);
   
   //color:$white;
   padding-top:.125rem;
   padding-bottom:.125rem;
   font-size:.75rem;
   @include breakpoint(large) {
        font-size:.875rem;
        padding-top:.2rem;
        padding-bottom:.2rem;
   }
   
   a {
       color:inherit;
   }

}

.banner {
    z-index: 5;
    position: relative;
    padding-bottom:1rem;
    @include breakpoint(medium) {
        padding-bottom:0;
    }
}

.banner__top {
    border-bottom:1px solid transparent;
    transition: top .4s ease-in;
}

.menutoggler {
    @include hamburger($body-font-color, $primary-color, 26px, 18px, 2px, 4);
    margin: 1.125rem 0 0 0;
    outline: none;
}
