
.banner__toprow {
   background-color: $xlight-gray;
   font-weight: $global-weight-bold;
   border-bottom:1px solid rgba($light-gray,.25);
   border-top:1px solid rgba($light-gray,.25);

   //color:$white;
   padding-top:.125rem;
   padding-bottom:.125rem;
   font-size:.75rem;
   @include breakpoint(large) {
        font-size:.875rem;
        padding-top:.2rem;
        padding-bottom:.2rem;
   }

   a {
       color:inherit;
   }

}

.banner {
    z-index: 5;
    position: relative;
    //padding-bottom:1rem;
    @include breakpoint(medium) {
        //padding-bottom:0;
    }
}

.banner__top {
    border-bottom:1px solid transparent;
    transition: top .4s ease-in;
}

.banner__branding {

}
.banner__nav {
    //@includemargin-top:-.25rem;
}
.menutoggler {
    @include hamburger($body-font-color, $primary-color, 26px, 18px, 2px, 4);
    margin: 0 0 0 0;
    outline: none;
}
.banner__ctacell {
    align-self: center;
}

.banner__cta {
    display: flex;
    align-items: center;
    background-color: $xlight-gray;
    //color:$white;
    //border: 1px solid scale-color($xlight-gray, $lightness: -5%);
    border: 1px solid $dark-gray;
    //padding:0 0 0 .25rem;
    p {
        text-align: center;
        line-height: 1.2;
        //white-space: nowrap;
        font-weight: $global-weight-bold;
        //text-transform: uppercase;
        margin:0;
        padding:0 1.25em;
        font-size: .75rem;
    }
    .btn {
        margin:-1px -1px -1px;
        //border: 1px solid $body-font-color;
        display: block;
        color: $white;
        //background-color: $dark-gray;
        background-color: $primary-color;
        padding:.875em 1.25em;
        //font-size:1.125rem;
        font-size: .875rem;
        line-height: 1;
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        &:hover, &:focus {
            background-color: $body-font-color;
            //color: $body-font-color;
        }


    }

}
