.banner {
    z-index: 5;
    position: relative;

    //padding-bottom:1rem;
    @include breakpoint(medium) {
        //padding-bottom:0;
    }
}


.banner__toprow {
   background-color: $xlight-gray;
   font-weight: $global-weight-bold;
   border-bottom:1px solid rgba($light-gray,.25);
   border-top:1px solid rgba($light-gray,.25);

   //color:$white;
   padding-top:.125rem;
   padding-bottom:.125rem;
   font-size:.75rem;
   @include breakpoint(large) {
        font-size:.875rem;
        padding-top:.2rem;
        padding-bottom:.2rem;
   }

   a {
       color:inherit;
   }

}



.banner__top {
    border-bottom:1px solid transparent;
    transition: top .4s ease-in;
}

.banner__branding {

}
.banner__nav {
    //@includemargin-top:-.25rem;
}
.menutoggler {
    @include hamburger($body-font-color, $primary-color, 26px, 18px, 2px, 4);
    margin: 0 0 0 0;
    outline: none;
}
.banner__ctacell {
    align-self: center;
}

.banner__cta {
    display: inline-flex;
    align-items: center;
    background-color: $xlight-gray;
    //color:$white;
    //border: 1px solid scale-color($xlight-gray, $lightness: -5%);
    border: 1px solid $dark-gray;
    margin:0 0 1rem;
    //padding:0 0 0 .25rem;
    p {
        text-align: center;
        line-height: 1.2;
        //white-space: nowrap;
        font-weight: $global-weight-bold;
        //text-transform: uppercase;
        margin:0;
        padding:0 1.25em;
        font-size: .75rem;
    }
    .btn {
        position: relative;
        margin:-1px -1px -1px;
        //border: 1px solid $body-font-color;
        display: block;
        color: $white;
        background-color: $dark-gray;
        // background-color: $primary-color;
        padding:.75em .875em;
        //font-size:1.125rem;
        font-size: .875rem;
        line-height: 1.2;
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        // text-align: center;
        border-left:3.75em solid $primary-color;
        box-shadow: 0 0 .5em rgba(#000,.25);
        small {
            text-transform:none;
            font-size: .9375em;
        }
        &:hover, &:focus {
            background-color: $primary-color;
            // border-color: $dark-gray;
            //color: $body-font-color;

        }

        .icon {
            font-size: 3.75em;
            position: absolute;
            left:-.9375em;
            top:.125em;
            // fill: #fff;

        }


    }

}

.banner__actions {
    display: flex;
    gap: .25rem;
    a {
        position: relative;
        display: block;
        border:1px solid rgba(#000,.125);
        // background-color: $body-font-color;

        fill: $body-font-color;

        width: 2.5em;
        height: 2.5em;

        &:hover, &:focus {
            fill: $black;
            border-color: rgba(#000,.25);
            background-color: rgba(#000,.025);
        }

        @include breakpoint('tablet') {
            width: 3em;
            height: 3em;
        }


    }
    .icon {
        fill: inherit;
        position: absolute;
        left:24%;
        top:24%;
        width: 52%;
        height: 52%;
    }
    .badge {
        position: absolute;
        bottom: -.4666rem;
        right:-.4666rem;
    }
}

// .banner__actions__wishlist {
//     .icon {
//         left:22%;
//         top:22%;
//         width: 56%;
//         height: 56%;
//     }
// }

.banner__actions__cart {
    .icon {
        left:10%;
        top:10%;
        width: 80%;
        height: 80%;
    }
}

.banner__main {
    background-color: $body-background;
}

.banner__megasearch {
    position: absolute;
    z-index: -6;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.4s ease;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    background-color: $body-background;
    box-shadow: inset 0 4rem 4rem -4rem rgba(#000, 0.125);

    &.is-shown {
        transform: translateY(0);
        box-shadow: inset 0 4rem 4rem -4rem rgba(#000, 0.125), 0 4rem 4rem 0 rgba(#000, 0.125);
    }
}


