.referencegrid {

    @include xy-grid;
    @include xy-gutters($grid-margin-gutters, margin, right left, true);

    @include xy-grid-layout(2, '.referencegrid__item', true, map-get( $grid-margin-gutters, small));

    @include breakpoint(medium) {
        @include xy-grid-layout(2, '.referencegrid__item', true, map-get( $grid-margin-gutters, small ));
    }

    @include breakpoint(tablet) {
        @include xy-grid-layout(3, '.referencegrid__item', true, map-get( $grid-margin-gutters, small ));
    }

    @include breakpoint(xlarge) {
        @include xy-grid-layout(4, '.referencegrid__item', true, map-get( $grid-margin-gutters, medium ));
    }
    @include breakpoint(xxlarge) {
        @include xy-grid-layout(5, '.referencegrid__item', true, map-get( $grid-margin-gutters, medium ));
    }

    margin-bottom: 2rem;
    //min-height: 100vh;
}

.referencegrid > .referencegrid__item--large {
    @include xy-cell(2 of 2, true, map-get($grid-margin-gutters,small));
    @include breakpoint(medium) {
        @include xy-cell(2 of 2, true, map-get($grid-margin-gutters,small));
    }
    @include breakpoint(tablet) {
        @include xy-cell(2 of 3, true, map-get($grid-margin-gutters,small));
    }
    @include breakpoint(xlarge) {
        @include xy-cell(2 of 4, true, map-get($grid-margin-gutters,medium));
    }
    @include breakpoint(xxlarge) {
        @include xy-cell(2 of 5, true, map-get($grid-margin-gutters,medium));
    }
}


.refiwrap {
    min-height: 100vh;
    //padding-top: 5vh;
    margin-bottom:4rem;
}
