// html.is-reveal-open,
// html.is-reveal-open body {
//     overflow-y: hidden !important;
// }

.requestmodal {
    padding: calc(2rem + 4vh) 2.5%;

    p {
        // font-size: 0.875rem;
        // font-weight: normal;
    }

    @include breakpoint(medium) {
        width: auto;
        max-width: 40rem;
    }
}

.requestmodal__head {
    @include clearfix;
    background-color: $xlight-gray;
    border-bottom: 1px solid $light-gray;
    padding: 2rem 2.5%;
    margin-top: calc(-2rem - 4vh);
    margin-bottom: calc(2rem + 4vh);
    margin-left: -6%;
    margin-right: -6%;

    figure {
        width: 4.5em;
        min-height: 4.333em;
        max-width: 25%;
        float: right;
        margin: 0 0 0 1em;
        background-color: #e6e6e6;
        border: 3px solid #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    }

    p {
        margin: 0 0;
    }
}

.requestmodal__close {
    font-weight: $global-weight-light;
    margin-top: 1rem;
    font-size: 2.25rem;
    color: $medium-gray;
    border: 1px solid $xlight-gray;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 0;
    position: absolute;
    top: 0;
    right: 1rem;
    //transform: translateX(-50%);
    background-color: rgba(#fff, 0.75);
    box-shadow: 0 0 0.875rem 0 rgba(#000, 0.25);
}
