.scprhead {
    @extend .pagewrap, .short;
    display: grid;
    grid-template-columns: 1fr;
    gap: .9375rem 2rem;
    @include breakpoint($bp-tablet) {
        grid-template-columns: 1fr 1fr;
    }
}


.scprhead__content {
    display: flex;
    flex-wrap: wrap;
    gap: .9375rem;
}

.scprhead__content__one, .scprhead__content__two {
    flex-grow: 1;
    flex-basis: 25rem;
}
