.singleproduct {
    position: relative;
    //padding:28vh 0 20vh;
}

.singleproduct__top {
    position: relative;
    //margin-bottom:calc(2vw + 2rem);

}
.singleproduct__top__bg {
    width:100%;
    height: 50vh;
    min-height: 22rem;


    @include breakpoint(tablet) {
        height: 33.333vw;
        min-height: 26rem;
        max-height: 36rem;
    }



    img {
        width:100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: left center;


    }
}

.singleproduct__top__content {
    position: absolute;
    left:0;
    //bottom:0;
    bottom: calc(2vw + 2rem);
    width: 100%;
}
.singleproduct__header {
    position: relative;
    padding:1rem 1rem;
    background-color: rgba($body-background,1);


    //min-width: max-content;
    //max-width: 32em;
    max-width: min-content;

    border: 1px solid $medium-gray;
    box-shadow: 0 0 2rem 0 rgba(#000,.25);
    font-size:.875rem;
    //display: inline-block;
    @include breakpoint(large) {
        font-size:1rem;
        //display: block;
    }
}

.singleproduct__header {
    .onsale {
        font-size:.875em;
    }
    hr {
        margin:0;
    }
}

.singleproduct__prodthumb {

    width:4.5em;
    min-height: 4.333em;
    float:left;
    margin:0 1em 3.25em 0;
    background-color: $light-gray;
    border:3px solid #fff;
    box-shadow: 0 0 3px 0 rgba(#000,.5);

}


.singleproduct__title {
    font-size: 3em;
    font-weight: $global-weight-thin;
    text-transform: uppercase;
    margin:0 0 0;
    line-height: 1;
    //white-space: nowrap;
    width: max-content;
    max-width: 100%;
    .singleproduct__callout & {
        font-size: 2.75em;
        width: 100%;
    }
}
.singleproduct__price {
    //clear:both;
    font-weight: $global-weight-black;
    font-size:1.5em;
    line-height: $header-lineheight;
    color:$medium-gray;
    margin:0.25em 0 .25em;
    del {
        font-size: 75%;
        font-weight: $global-weight-normal;
        display: block;
    }
    ins {
        text-decoration: none;
    }
}

.singleproduct__header .stock,
.singleproduct__callout .stock  {
    font-size: .875em;
    line-height: $header-lineheight;
    margin:0 0 .125em;
    display: inline-block;
    background-color: $xlight-gray;
    border:1px solid $light-gray;
    padding:.125em .333em;
    //font-style: italic;
    text-transform: uppercase;


    &.in-stock {
    }
    &.available-on-backorder {

    }

    &.out-of-stock {

    }
}


.singleproduct__prodimage {
    position: relative;
    border: 1px solid $light-gray;
    padding: .75rem;
    margin:0 1rem 0;
    background-color: $xlight-gray;
    //margin-right:4%;
    img + img {
        position: absolute;
        right:-4%;
        bottom:-4%;
        border:.5rem solid $xlight-gray;
        width: 45%;
        box-shadow: 0 0 .75rem 0 rgba(#000,.5);
    }
}

.singleproduct__images {
    // margin-top:-5.666rem;
    // background-color: rgba(#000,.75);
    // position: relative;
}

.singleproduct__details {

}


.singleproduct__shortdesc {

}

.singleproduct__callout {
    margin-bottom:2rem;
    background-color: $xlight-gray;
    border-color: scale-color($xlight-gray, $lightness: -5%);
    padding:2rem 5%;
}


.attrheader {
    margin:0;
}
.singleproduct__attributes {
    @include clearfix();
    line-height: $header-lineheight;
    font-size:.875em;
    margin:1.5em 0 0;
    border-top: 1px solid $medium-gray;
    padding-top: .5em;
    //max-width: 30rem;
    dt {
        //float:left;
        //clear:both;
        //min-width: 30%;
        display: inline;
        //padding-right: .25em;
        margin-bottom:0;
        font-weight: $global-weight-normal;
        &:after {
            content:': ';
        }

    }
    dd + dt {
        &:before {
            //content: ' · ';
            //content: ' ● ';
            content: ' | ';
            //color:$medium-gray;
            //font-weight: $global-weight-bold;
        }
    }

    dd {
        //float:left;
        //width:70%;
        display: inline;
        margin-bottom:.5em;
        font-weight: $global-weight-bold;
        //color:$medium-gray;
        a {
            color:inherit;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
        p {
            line-height: inherit;
            display: inline;
        }
    }
}

.singleproduct__catattributes {
    @extend .singleproduct__attributes;
    border-top: none;
    font-size:1rem;
    padding-top:1.5em;
    //max-width: 100%;
    dt {
        clear:left;
        display: inline-block;
        float:left;
        margin-right: .25em;
        min-width: 10em;
    }
    dd {
        display: inline-block;
        float:left;
    }
    dd + dt {
        &:before {
            //content: ' · ';
            //content: ' ● ';
            content: '';
            //color:$medium-gray;
            //font-weight: $global-weight-bold;
        }
    }
}
.tabs--singleproduct {
    //text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    counter-reset: aco;
    .tabs-title {
        float:none;
        display: inline-block;
        counter-increment: aco;
        &:not(:last-child()):after {
            text-align: center;
            content:'|';
            width:1rem;
            display: inline-block;
            color:$medium-gray;
        }
        // &:first-child() {
        //     > a {
        //         padding-left:0;
        //     }
        // }
        // &:last-child() {
        //     > a {
        //         padding-right:0;
        //     }
        // }
        > a {
            padding-left:0;
            padding-right:0;
            display: inline-block;
            font-size: .75rem;
            @include breakpoint(tablet) {
                font-size:1rem;
            }
            &:before {
                content: counter(aco) ". ";
            }


        }
    }

}
