.singleproduct {
    position: relative;
    //padding:28vh 0 20vh;
}

.singleproduct__top {
    position: relative;
    //margin-bottom:calc(2vw + 2rem);
    background-color: #000;
}

.singleproduct__top__bg {
    // width:80%;
    // margin-left:20%;

    width: 100%;
    height: 50vh;
    min-height: 22rem;

    //background-image: linear-gradient(90deg, #000 0, #fff 33%);

    @include breakpoint(tablet) {
        height: 33.333vw;
        min-height: 26rem;
        max-height: 36rem;
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: left center;
        //opacity: .5;
        //mix-blend-mode: multiply;
    }
}

.singleproduct__top.dontcoverwp {
    background-color: #fff;
    border-top: 1px solid $xlight-gray;
    border-bottom: 1px solid $xlight-gray;
    .singleproduct__top__bg {
        @include breakpoint(tablet) {
            width: 75%;
            margin-left: auto;
        }

        img {
            object-fit: contain;
            object-position: center center;
        }
    }
}

.singleproduct__top__content {
    position: absolute;
    left: 0;
    //bottom:0;
    bottom: calc(2vw + 2rem);
    width: 100%;
}
.singleproduct__header {
    position: relative;
    padding: 1rem 1rem;
    background-color: rgba($body-background, 1);

    //min-width: max-content;
    max-width: 28em;

    //max-width: min-content;

    border: 1px solid $medium-gray;
    box-shadow: 0 0 2rem 0 rgba(#000, 0.25);
    font-size: 0.875rem;
    //display: inline-block;
    @include breakpoint(large) {
        font-size: 1rem;
        //display: block;
    }
}

.singleproduct__header {
    .onsale {
        font-size: 0.875em;
    }
    hr {
        margin: 0;
    }
}

.singleproduct__prodthumb {
    width: 4.5em;
    min-height: 4.333em;
    float: right;
    margin: 0 0 3.25em 1em;
    background-color: $light-gray;
    border: 3px solid #fff;
    box-shadow: 0 0 3px 0 rgba(#000, 0.5);
}

.singleproduct__title {
    font-size: 1.875em;
    font-weight: $global-weight-thin;
    text-transform: uppercase;
    margin: 0 0 0;
    line-height: 1;
    //white-space: nowrap;
    //width: max-content;
    max-width: 100%;
    .singleproduct__callout & {
        font-size: 2.75em;
        width: 100%;
    }
}

.singleproduct__shortdesc {
    font-size: 1em;
    line-height: 1.2;
    p {
        line-height: inherit;
        &:last-of-type() {
            margin-bottom: 0;
        }
    }
    // font-weight: $global-weight-thin;
    // text-transform: uppercase;
}
.singleproduct__status {
    margin-top: .5em;
}

.singleproduct__price {
    //clear:both;
    font-weight: $global-weight-black;
    font-size: 1.5em;
    line-height: $header-lineheight;
    color: $dark-gray;
    margin: 0.5em 0 0.25em;
    del {
        font-size: 75%;
        font-weight: $global-weight-normal;
        display: block;
    }
    ins {
        text-decoration: none;
    }
}

.singleproduct__header .stock,
.singleproduct__callout .stock {
    // font-size: .875em;
    line-height: $header-lineheight;
    margin: 0 0 0.125em;
    display: inline-block;
    background-color: $xlight-gray;
    border: 1px solid $light-gray;
    padding: 0.125em 0.333em;
    //font-style: italic;
    //text-transform: uppercase;

    //width: max-content;

    &.in-stock {
    }
    &.available-on-backorder {
    }

    &.out-of-stock {
    }

    .has-tip {
        border-bottom: none;
        svg.icon {
            width: 1em;
            height: 1em;
            //fill: $medium-gray;
            transform: translateY(0.2em);
        }
    }

    .cs {
        //display: inline;
        //font-size:93.75%;
        &:before {
            content: " | ";
        }
    }
}

.singleproduct__prodimage {
    position: relative;
    border: 1px solid $light-gray;
    padding: 0.75rem;
    margin: 0 1rem 0;
    background-color: $xlight-gray;
    //margin-right:4%;
    img + img {
        position: absolute;
        right: -4%;
        bottom: -4%;
        border: 0.5rem solid $xlight-gray;
        width: 45%;
        box-shadow: 0 0 0.75rem 0 rgba(#000, 0.5);
    }
}


.singleproduct__headeractions{
    display: flex;
    gap:.5em;
    margin-top:.5em;
    .button {
        margin-bottom: 0;;
    }
}

.yith-wcwl-add-button {
    .button {
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        .icon {
            transform: scale(1.75);
            fill: none;
        }

        .singleproduct__callout__actions & {
            font-size: 1.25rem;
        }

    }

    .button--yithwcwladd {
        background-color: $light-gray;
        color: $body-font-color;
        background-image: svg-load('star-outline.svg', fill=#{$body-font-color});

        &:hover, &:focus {
            background-color: $medium-gray;
            background-image: svg-load('star-add.svg', fill=#{$body-font-color});
        }
    }

    .button--yithwcwlremove {
        background-color: $dark-gray;
        color: $body-background;
        background-image: svg-load('star-checked.svg', fill=#{$body-background});
        &:hover, &:focus {
            background-image: svg-load('star-delete.svg', fill=#{$body-background})
        }
    }
}

.singleproduct__images {
    // margin-top:-5.666rem;
    // background-color: rgba(#000,.75);
    // position: relative;
}

.singleproduct__details {
}

.singleproduct__shortdesc {
}

.singleproduct__callout {
    margin-bottom: 2rem;
    background-color: $white;
    border-color: scale-color($light-gray, $lightness: -5%);
    padding: 2rem 5%;
}

.singleproduct__callout__actions {
    display: flex;
    gap:.5em;

}

.attrheader {
    margin: 0;
}
.singleproduct__attributes {
    @include clearfix();
    line-height: $header-lineheight;
    font-size: 0.875em;
    margin: 1.5em 0 0;
    border-top: 1px solid $medium-gray;
    padding-top: 0.5em;
    //max-width: 30rem;
    dt {
        //float:left;
        //clear:both;
        //min-width: 30%;
        display: inline;
        //padding-right: .25em;
        margin-bottom: 0;
        font-weight: $global-weight-normal;
        &:after {
            content: ": ";
        }
    }
    dd + dt {
        &:before {
            //content: ' · ';
            //content: ' ● ';
            content: " | ";
            //color:$medium-gray;
            //font-weight: $global-weight-bold;
        }
    }

    dd {
        //float:left;
        //width:70%;
        display: inline;
        margin-bottom: 0.5em;
        font-weight: $global-weight-bold;
        //color:$medium-gray;
        a {
            color: inherit;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
        p {
            line-height: inherit;
            display: inline;
        }
    }
}

.singleproduct__catattributes {
    @extend .singleproduct__attributes;
    border-top: none;
    font-size: 1rem;
    padding-top: 1.5em;
    margin-top: 0;
    //max-width: 100%;
    dt {
        clear: left;
        display: inline-block;
        float: left;
        margin-right: 0.25em;
        min-width: 10em;
    }
    dd {
        display: inline-block;
        float: left;
    }
    dd + dt {
        &:before {
            //content: ' · ';
            //content: ' ● ';
            content: "";
            //color:$medium-gray;
            //font-weight: $global-weight-bold;
        }
    }
}
.tabs--singleproduct {
    //text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    counter-reset: aco;
    .tabs-title {
        float: none;
        display: inline-block;
        counter-increment: aco;
        &:not(:last-child()):after {
            text-align: center;
            content: "|";
            width: 1rem;
            display: inline-block;
            color: $medium-gray;
        }
        // &:first-child() {
        //     > a {
        //         padding-left:0;
        //     }
        // }
        // &:last-child() {
        //     > a {
        //         padding-right:0;
        //     }
        // }
        > a {
            padding-left: 0;
            padding-right: 0;
            display: inline-block;
            font-size: 0.75rem;
            @include breakpoint(tablet) {
                font-size: 1rem;
            }
            &:before {
                content: counter(aco) ". ";
            }
        }
    }
}

.tabs-title.is-active > a {
    background: transparent;
    color: inherit;
}

.tabs--prdata {
    transform: translateY(2px);
    .tabs-title {
        font-weight: $global-weight-bold;

        > a {
            font-size: 1rem;
            padding: 0.875em 1em;
        }
        &.is-active {
            > a {
                background-color: $xlight-gray;
                border: 1px solid $light-gray;
                border-bottom-color: $xlight-gray;
            }
        }
    }
}
p.waste-warning {
    line-height: 1.2;


}
.order-box {
    .calculatedinfowrap {
        display: flex;
        margin: 2rem 0 1rem;
        border: 1px solid $light-gray;
        background-color: $xlight-gray;
        //padding:1rem;
        text-align: center;
        justify-content: center;
    }
    .calculatedinfo {
        line-height: 1;
        font-size: 1.25em;
        font-weight: $global-weight-bold;
        min-height: 1em;
        padding: 0.666em 0.875em;
        margin: 0;

        &.longtext span {
            font-size: .75em;
            font-weight: $global-weight-normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-style: italic;
        }


        small {
            font-size: 66.666%;
            //color: $body-font-color;
            display: block;
            font-weight: $global-weight-black;
        }
    }
}

.order-submit {
    .price {
        line-height: 1;
        font-size: 1.875em;
        font-weight: $global-weight-black;
        min-height: 1em;
        margin: 1rem 0 2rem;
        color: $dark-gray;
        small {
            font-size: 50%;
            color: $body-font-color;
            display: block;
            //font-weight: $global-weight-bold;
        }
        em {
            font-size: .666em;
            font-style: normal;
        }
    }
    .button {
        margin: 0;
    }
}


.order-quotelink {
    display: block;
    font-size: .875rem;
    text-align: center;
    color: inherit;
    &:hover, &:focus {
        color: inherit;
        text-decoration: underline;
    }
}


