.singleproduct {
    position: relative;
    padding:10vh 0;
}

.singleproduct__bg {
    position: absolute;
    z-index: -1;
    left:0;
    top:0;
    width:100%;
    height: 90vh;
    overflow: hidden;
}

.singleproduct__header {
    position: relative;
    padding:1rem;
    background-color: $body-background;
    min-height: 70vh;
    margin-bottom:10vh;
}

.singleproduct__header {
    .onsale {
        position: absolute;
        
        float: right;
        right:1rem;
    }
}
.singleproduct__meta {
    font-size: .875rem;
    text-transform: uppercase;
}

.singleproduct__title {
    //font-weight: $global-weight-light;
    text-transform: uppercase;
    margin:0;
    line-height: 1;
}
.singleproduct__price {
    font-weight: $global-weight-black;
    font-size:1.5em;
    line-height: $header-lineheight;
    color:$medium-gray;
    del {
        font-size: 75%;
        font-weight: $global-weight-normal;
        display: block;
    }
    ins {
        text-decoration: none;
    }
}

.singleproduct__header .stock {
    line-height: $header-lineheight;

    &.in-stock {
        font-size: 1.25rem;
    }
    &.available-on-backorder {

    }

    &.out-of-stock {

    }
}
.singleproduct__attributes {
    line-height: $header-lineheight;
    font-size:.875em;
    dt {
        float:left;
        clear:both;
        min-width: 30%;
        padding-right: 1em;
        margin-bottom:0;
        font-weight: $global-weight-normal;
    }

    dd {
        float:left;
        width:70%;
        margin-bottom:.5em;
        font-weight: $global-weight-bold;
        p {
            line-height: inherit;
            display: inline;
        }
    }
}