.thumbswipe {
    list-style: none;
    margin:0;
    padding:1rem 0 1rem 2%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (min-width: 110em) {
        padding-left:calc(50vw - #{$global-width*0.5} );
    }
}
.thumbswipe--noleftpad {
    padding:1rem 0 1rem 0;
    margin-left: -.625rem;
    @include breakpoint(medium) {
        margin-left: -.9375rem;
    }
    @media screen and (min-width: 110em) {
        margin-left: -.4688rem;
        padding-left:0;
    }
}

.thumbswipe__item {
    flex: 0 0 auto;
    margin-left: .625rem;
    //margin-right: map-get( $grid-margin-gutters, small );
    //width: 3.5rem;
    @include breakpoint(medium) {
        margin-left: .9375rem;
        //margin-right: map-get( $grid-margin-gutters, medium );
    }
    @media screen and (min-width: 110em) {
        margin-left: .4688rem;
        //margin-right: map-get( $grid-margin-gutters, medium );
    }


    img {
        display: block;
        height: 16.666vw;
        max-height: 4.5rem;
        width: auto;
        max-width: none;
        .thumbswipe--medium & {
            max-height: 7rem;
        }
    }
}


.thumbswipe--nopadding {
    padding:1rem 0 1rem 0;
    margin-left: -.625rem;
    @media screen and (min-width: 110em) {
        padding-left:0;
    }
}

